@page "/stats"

@model StatisticsModel

@using BaGetter.Core.Configuration
@using BaGetter.Core.Entities
@using BaGetter.Core.Feeds
@using BaGetter.Core.Statistics
@using BaGetter.Web.Helper
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options

@inject IOptionsSnapshot<StatisticsOptions> Options
@inject IOptionsSnapshot<NugetAuthenticationOptions> AuthOptions
@inject IStatisticsService StatisticsService
@inject ApplicationVersion Version
@inject IFeedContext FeedContext
@inject IContext DbContext

@{
    ViewData["Title"] = "Stats \u2014 " + FeedContext.CurrentFeed.Name;
    var requiresAuth = AuthOptions.Value.Mode != AuthenticationMode.Config;
    var isAuthenticated = User.Identity?.IsAuthenticated == true;
    var feedId = FeedContext.CurrentFeed.Id;
}

@if (requiresAuth && !isAuthenticated)
{
    <div class="text-center" style="margin-top: 60px;">
        <h2>Sign in required</h2>
        <p>You need to sign in to view statistics.</p>
        <a asp-page="/Login" class="btn btn-primary">Sign in</a>
    </div>
    return;
}

<div class="col-sm-12">
    <h1>Statistics &mdash; @FeedContext.CurrentFeed.Name</h1>
    <hr class="breadcrumb-divider" />
    <div class="row">
        <article class="col-sm-4">
            <h4>Current version</h4>
        </article>
        <div class="col-sm-8">
            <h4>@Version.InformationalVersion</h4>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-4">
            <h4>Total amount of packages</h4>
        </article>
        <div class="col-sm-8">
            <h4>@await DbContext.Packages.Where(p => p.FeedId == feedId).GroupBy(p => p.Id).CountAsync()</h4>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-4">
            <h4>Total amount of package versions</h4>
        </article>
        <div class="col-sm-8">
            <h4>@await DbContext.Packages.Where(p => p.FeedId == feedId).CountAsync()</h4>
        </div>
    </div>
    @if (Options.Value.ListConfiguredServices)
    {
        <div class="row">
            <article class="col-sm-4">
                <h4>Services in use</h4>
            </article>
            <div class="col-sm-8">
                <h4>@string.Join(", ", StatisticsService.GetKnownServices())</h4>
            </div>
        </div>
    }
</div>
